@import "../../../styles/all.module.scss";
.location {
  position: relative;
  border: none;
  border-radius: 25px;
  min-width: 550px;
  padding: 20px 25px;
  overflow: scroll;
  &__Item {
    &:first-of-type {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    &:last-of-type {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  // For small screen
  &_smallScreen {
    min-width: 300px;
  }
}
