/*=============================================
 =            Colors            =
 =============================================*/
// Main Colors
$softPrimary: #46df81;
$primary: #00b207;
$hardPrimary: #2c742f;
$warning: #ff8a00;
$danger: #ea4b48;
$white: #ffffff;
$black: #000000;

// Gray Colors
$gray1: #e6e6e6;
$gray2: #b3b3b3;
$gray3: #808080;
$gray4: #4d4d4d;
$gray5: #1a1a1a;

// Green Gray
$greenGray1: #dae5da;
$greenGray2: #96b297;
$greenGray3: #618062;
$greenGray4: #2b572e;
$greenGray5: #002603;

// :export {
//   whiteColor: $white;
//   softPrimary: $softPrimary;
//   primary: $primary;
//   hardPrimary: $hardPrimary;
//   warning: $warning;
//   danger: $danger;
//   gray1: $gray1;
//   gray2: $gray2;
//   gray3: $gray3;
//   gray4: $gray4;
//   gray5: $gray5;
//   greenGray1: $greenGray1;
//   greenGray2: $greenGray2;
//   greenGray3: $greenGray3;
//   greenGray4: $greenGray4;
//   greenGray5: $greenGray5;
// }

/*=====  End of Colors  ======*/
