@import "../../../styles/all.module.scss";

.btn {
  padding: 8px 25px;
  border-radius: 43px;
  text-transform: none;
  background-color: $primary;
  color: $white;
  font-family: $poppins;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  .arrowIcon {
    display: inline-block;
    font-size: 1rem;
    color: $white;
    margin-left: 3px;
  }
  &:hover {
    background-color: $hardPrimary;
  }
}
