@import "@/styles/global.module.scss";
.rating {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__icon {
    color: $danger;
    font-size: 20px;
  }
  &__reviewText {
    color: $gray4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 5px;
  }
}
