@import "@/styles/global.module.scss";
.inputText {
  position: relative;
  input::placeholder {
    line-height: 130%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: $gray-500;
  }
  input {
    @extend %body-sm-500;
    color: $gray-1000;
  }
  &__searchIcon {
    position: absolute;
    top: 12px;
    left: 15px;
    &_smallScreen {
      top: 9.6px;
      height: 16px;
      left: 10px;
    }
  }
  &__eyeIcon {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    &_smallScreen {
      height: 16px;
      top: 9.6px;
    }
  }
}
