@import "@/styles/global.module.scss";
.slider {
  width: 100%;
  min-height: 450px;
  &__zoom {
    position: absolute;
    top: 40px;
    left: 600px;
    width: 400px;
    height: auto;
    opacity: 1;
  }

  // For Responsive
  @include downLgScreen {
    min-height: 320px;
  }
}
