@import "../../../styles/all.module.scss";
.quickView {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: $white;
  display: flex;
  flex-direction: row;
  &__crossIcon {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &__productTitle {
    display: flex;
    align-items: center;
    color: $gray5;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 12px;
  }
  &__prices {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray1;
    padding: 20px 0px;
  }
  &__priceCondition {
    color: $gray3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: line-through;
    margin-right: 4px;
  }
  &__price {
    color: $hardPrimary;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-right: 12px;
  }
  &__discountPrice {
    color: $hardPrimary;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-right: 4px;
  }
  &__discount {
    color: $danger;
    padding: 3px 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 4px;
    background: rgba(234, 75, 72, 0.1);
    margin-left: 15px;
  }
  &__description {
    color: $gray3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__wishListIcon {
    color: $primary;
    background-color: $gray1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    &:hover {
      background-color: $greenGray1;
    }
  }
  &__cartButtonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray1;
    border-left: none;
    border-right: none;
    margin: 24px 0px;
    box-shadow: 0px 1px 0px 0px #e5e5e5, 0px -1px 0px 0px #e5e5e5;
  }
  &__categoryTitle {
    color: $gray5;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 12px;
  }
  &__categoryValue {
    color: $gray3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__shareItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__shareText {
    color: $gray5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-right: 10px;
  }

  // For Medium To Large Screen
  &.quickView__mdToLg_screen {
    .quickView__productTitle {
      font-size: 32px;
    }
    .quickView__wishListIcon {
      padding: 10px;
    }
  }

  // For Small Screen
  &.quickView__smallScreen {
    padding: 10px 5px;
    .quickView__wishListIcon {
      padding: 7px;
    }
    .quickView__productTitle {
      font-size: 20px;
    }
    .quickView__priceCondition {
      font-size: 16px;
    }
    .quickView__price {
      font-size: 20px;
    }
    .quickView__discountPrice {
      font-size: 20px;
    }
    .quickView__description {
      font-size: 12px;
    }
  }
}
