@import "@/styles/global.module.scss";
.hotDeals {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  &__headText {
    @extend %heading-05-600;
    color: $gray-1000;
  }

  // For Responsive
  @include downMdScreen {
    &__headText {
      font-size: $fs-xxxl;
    }
  }

  @include downSmScreen {
    &__headText {
      font-size: $fs-md;
    }
  }
}
