@import "../../../styles/all.module.scss";
.categories {
  position: relative;
  padding: 0px 0px 0px 0px;
  &__headText {
    color: $gray5;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 1000;
  }

  // For Responsive

  &__smScreen {
    .categories__headText {
      font-size: 32px;
      top: -2px;
      min-height: 33px;
    }
  }
}
